SECRET_KEY= django-insecure-vomxzt+c+g)6pj$wzgb(*d40_z3p8fvk#((m61xz-grvvf-zt#

DEBUG =
NAME=
USER=
PASSWORD=
HOST=
DATABASE_PORT=



EMAIL_BACKEND =
EMAIL_HOST =
EMAIL_PORT =
EMAIL_USE_TLS =
EMAIL_USE_SSL =
EMAIL_HOST_USER =
EMAIL_HOST_PASSWORD =
DEFAULT_FROM_EMAIL =

LOCATION = redis://127.0.0.1:6379